<!-- templates/fragments/footer.html -->
<footer th:fragment="siteFooter">
    <div class="footer-content">
        <div>
            <h1>KOPW Tracker</h1>
        </div>
        <div>
            <h2>CONTACT</h2>
            <p>kopw20@gmail.com</p>
            <hr>
        </div>
        <div class="refer-link">
            <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">DAILY SPENDING</a></li>
                <li><a href="#">ROUTINE</a></li>
                <li><a href="#">TRADE</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © KOPW 2025. All right reserved.</p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</footer>
