<div id="transaction-table" class="transaction-history"
     th:fragment="transactionHistory(transactions, currentPage, totalPages, size)">

    <table>
        <thead>
        <tr>
            <th>Ngày</th>
            <th>Mã CP</th>
            <th>Loại</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Tổng</th>
            <th class="action-col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.date}"></td>
            <td th:text="${transaction.stock}"></td>
            <td th:text="${transaction.type}"></td>
            <td th:text="${transaction.quantity}"></td>
            <td th:text="${transaction.price}"></td>
            <td th:text="${transaction.total}"></td>
            <td class="action-col">
                <div th:insert="fragments/actionButton :: actionButtons(${1})"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>